.first{
    background-image:url("images/Assets/hero-cover.3.png") ;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;

}
.repeat{
    height: 900px;
    background-color:bisque;
}
.second{
    text-align: center;
    margin-top: 100px;
    
}
.second >h1{
    color: white;
    font-size: 50px;
}
.second >p{
    font-size: 20px;
    color: white;
}
.third{
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 15%;
}
.quote{
    background-color:#23A6F0 ;
    border-radius: 15px;
    color: ghostwhite;
    height: 40px;
    margin-top: 3%;
}
.learn{
    color:white;
    border-radius: 15px;
    height: 40px;
    margin-top: 3%;
    background: transparent;
}
ul li a{
    text-decoration:none;
    margin-top: 60px;
}
ul li{
display:inline;
padding: 30px 15px;
color: white;
}
.log {
    display: flex;
    margin-left: 410px;
}
.read{
    width: 200px;
    margin-right: 3%;
    height: 100px;
    padding: 20px;
    background-color: white;
    block-size:fit-content;
}
.inner{
    width: 200px;
    height:100px ;
    padding: 20px;
    background-color: #23A6F0;
    block-size:fit-content;
}
.other{
   display: flex; 
   flex-direction: row;
   align-items: center;
   margin-top: 10%;
   margin-left: 25%;

}
.peace{
text-align: center;
font-size: 15px;
margin-right: 5%;
}
.set{
    text-align: center;
    font-size: 15px;
    margin-right: 5%;
}
.sat{
    text-align: center;
    font-size: 15px;

}
.city{
    margin-left: 10%;
    text-align: center;
}
